/*
Author: Jonas Enlund
Date: 2025-09-30
*/
h1
{
    text-align: center;
}
img
{
    display: block;
    margin: auto;
    max-width: 500px;
    height: 600px;
}
audio
{
    display: block;
    margin:auto;
}
video
{
    display: block;
    margin: auto;
    width: 90%;
    height: 400px;
}
section
{
    margin-bottom: 100px;
}